*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}
section header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
section header ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}
section header ul li {
	margin-left: 18px;
}
section header ul li a {
	color: #111;
	text-decoration: none;
	font-size: 17px;
}
section header ul li button {
	background: #5484ef;
	border: none;
	outline: none;
	padding: 8px 16px;
	font-size: 16px;
	color: white;
    border-radius: 5px;
    transition: .4s;
}
section header ul li button:hover{
    color: yellow;
    background: linear-gradient(rgb(120,45,180),red);
}
.main {
	width: 560px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.main .searchbox {
	width: 100%;
	outline: none;
	position: relative;
	margin-bottom: 23px;
	margin-top: 30px;
}
.main .searchbox .search {
	width: 100%;
	border-radius: 30px;
	outline: none;
	border: 1px solid #ccc;
	padding: 7px 39px;
	font-size: 16px;
}
.main .searchbox .icons {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 12px;
	pointer-events: none;
}
.buttons {
	margin-bottom: 12px;
}
.buttons button {
	font-size: 15px;
	border: none;
	outline: none;
	padding: 10px 14px;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
    transition: .4s;
}
.buttons button:hover{
    color: white;
    background-color: #ccc;
}
.lang{}
.lang a {
	color: black;
	text-decoration: none;
}